.main{
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
}

*{
  font-size: 16px;
}
h1{
  font-size: 25px;
  text-align: center;
}
button{
  width: 100%;
  background-color:var(--blue-main);
  border-radius:5px;
  padding: 15px;
  color: #fff;
}
span{
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  opacity: 90%;
  color: var(--warning);
}
.errorBar{
  padding: 5px 20px;
  background-color:var(--warning);
  color:#fff;
}
