 <div class="toolbar" role="banner">
  <div role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">
        <a href="home" routerLinkActive="active-link"><li [routerLink]="['home']">Home</li></a>
      <a href="words" routerLinkActive="active-link"><li [routerLink]="['words']">All words</li></a>
      <a href="submit" routerLinkActive="active-link"><li [routerLink]="['submit']">Submit</li></a>
      <a href="login" routerLinkActive="active-link" *ngIf="!isLoggedIn"><li [routerLink]="['login']">Log in</li></a>
      <a href="account" routerLinkActive="active-link" *ngIf="isLoggedIn"><li [routerLink]="['account']">Account</li></a>
      </ul>
    </div>
  </div>
</div>


<!--    Made by Erik Terwan    -->
<!--   24th of November 2015   -->
<!--        MIT License        -->

