 <div class="toolbar" role="banner">
  <div role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">
        <a href=""><li>Home</li></a>
        <a href="words"><li>All words</li></a>
        <a href="submit"><li>Submit</li></a>
        <a href="login"><li>Log in</li></a>
      </ul>
    </div>
  </div>
</div>


<!--    Made by Erik Terwan    -->
<!--   24th of November 2015   -->
<!--        MIT License        -->

